<div class="container">

	<table>

		<tr>
			<td class="border border-primary">
				<app-increase-button></app-increase-button>
			</td>
			<td class="border border-primary">
			</td>
			<td class="border border-primary">
				<app-decrease-button></app-decrease-button>
			</td>
		</tr>

		<tr>
			<td class="border border-primary">
			</td>
			<td class="border border-primary">
				<h2>{{ counter.loading ? 'Loading...' : counter.value }}</h2>
			</td>
			<td class="border border-primary">
			</td>
		</tr>

		<tr>
			<td class="border border-primary">
				<app-randomise-button></app-randomise-button>
			</td>
			<td class="border border-primary">
			</td>
			<td class="border border-primary">
				<app-reset-button></app-reset-button>
			</td>
		</tr>

	</table>

</div>
